.todo_container {
    background: #f3e3f754;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.todo_text_container {
    background-color: #333333;
    color: #D9D9D9;
    border-radius: 16px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 12px;
    flex: auto;
}

.edit_text_container {
    background: transparent;
    color: #D9D9D9;
    font-weight: 700;
    font-size: 20px;
    flex: auto;
}

.check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.5;
    color: #808080;
    text-decoration: line-through;
}


/* ACTIONS SECTION */

.todo_actions {
    display: flex;
    gap: 8px
}

.button {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
    color: #272323;
    font-size: 20px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #f79eff;
}