* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(/solid-gypsum-wall-textured-backdrop_53876-100264.avif)
}

.container {
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.container h1 {
    text-align: center;
    color: #f79eff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 5px;
    padding: 2.4rem 0;
}